body {
    background-color: antiquewhite;
}

h1 {
    margin-left: 30%;
    font-family: 'Courier New', monospace;
    margin-top: 68px;
    font-size: 45px;
    position: absolute;
}

.greenLeaf {
width: 130px;
margin-left: 54%;
border-radius: 50%;
margin-top: 10px;
}
.coffe {
    position: relative;
    width: 300px;
    left: 6%;
    margin-bottom: 20px;

}
.coffeMachine {
    position: relative;
    width: 273px;
    height: 330px;
    left: 3%;
    margin-bottom: 0px;
    /* border-radius: 20px; */
}
.beans {
    position: relative;
    width: 320px;
    left: 11%;
    margin-bottom: 20px;
}
.meal {
    position: relative;
    width: 273px;
    height: 330px;
    left: 7%;
    margin-bottom: 0px;
    /* border-radius: 20px; */
}

.navbar {
    font-family: 'Courier New', monospace;
    margin-top: 20px;
}
#glutenFree{
    position: relative;
    right: 15%;
}

.loupe {
    position: relative;
    right: 7%;
    width: 23px;
    margin-right: 10px;
    cursor: pointer;
}
.fa {
    position: relative;
    right: 7%;
    cursor: pointer;
}
.fa:hover {
    text-decoration: underline;
  } 

.aboutus {
    margin-left: 10%;
    cursor: pointer;
}
.aboutus:hover {
    text-decoration: underline;
  }

.breaky {
    margin-left: 10%;
    cursor: pointer;
}
.breaky:hover {
    text-decoration: underline;
  } 

.lunch {
    margin-left: 10%;
    cursor: pointer;
}
.lunch:hover {
    text-decoration: underline;
  } 

.drinks {
    margin-left: 10%;
    margin-right: 23%;
    cursor: pointer;
}
.drinks:hover {
    text-decoration: underline;
  } 

#menuContainer {
    font-family: 'Courier New', monospace;
    font-size: 20px;
    margin-left: 25%;
    margin-top: 3%;
    margin-right: 30%; 
    text-align: left;
} 

 .footer{
    position: relative;
    font-family: 'Courier New', monospace;
    margin-top: 10px;
    margin-left: 9%;
    margin-bottom: 10px;
 }
 
 .icons {
    width: 30px;
    padding: left 0;
    margin: left 5px;;
 }

 hr {
    border: 0.5px solid black
}

.footertext {
    font-family: 'Courier New', monospace;
    margin-left: 18%;
    margin-top: 40px;
    font-weight: bold;
}

.email {
    margin-left: 18%;
}

#email {
    border: none;
    height: 30px;
    width: 300px;
    border-radius: 8px;
    background-color: #FAFAFA;
}
#submit {
    height: 33px;
    width: 80px;
    border: none;
    background-color: #FAFAFA;
    border-radius: 8px;
    cursor: pointer;
}